---
layout: default
title: 'Skinny Guardian'
is_home: true
---

<p class="f7 article lh-title">The latest 50 Guardian articles updated 3 times a day. Last updated {{ "now" | date: "%d %b %Y at %H:%M" }} <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time">UTC</a>.</p>

{% assign counter = 0 %}
{% for article in site.data.articles.response.results %}

{% assign url = article.id | remove: '/' %}
{% assign counter = counter | plus: 1 %}

<div class="article">

	{% if article.fields.thumbnail %}
	
		<a class="flex items-start no-underline mv3 pt2 bt border no-flow" href="/a/{{ url }}">

			<div class="w-half pr2">

				<img aria-hidden="true" class="db ma0 pa0" height="300" width="500" src="{{ article.fields.thumbnail }}"{% if counter > 6 %} loading="lazy"{% endif %}>

			</div>

			<div class="w-half pl2">

				<h2 class="f7 f6-ns lh-title ma0">{{ article.webTitle }}</h2>

			</div>

		</a>

	{% else %}

		<a class="no-underline mv3 pt2 pb1 bt border no-flow db" href="/a/{{ url }}">

			<h2 class="f7 f6-ns lh-title ma0">{{ article.webTitle }}</h2>

		</a>

	{% endif %}

</div>

{% endfor %}
