            </main>

            <footer class="article lh-title f7">

                <p class="pa4 off-paper">The Guardian is free for readers and even allows developers to access all of its articles for no charge. You might want to <a href="https://support.theguardian.com/uk/contribute">support The Guardian by making a monthly or one-off payment</a>.</p>

                <p><a href="/">{{ site.title }}</a> — a site by <a href="https://www.thisdaysportion.com">Leon Paternoster</a>.</p>

            </footer>

        </div>

    </body>

</html>
