            </main>

            <footer class="article lh-title f7">

                <p class="pa4 off-paper">The Guardian is free for readers and developers. You can <a href="https://support.theguardian.com/uk/contribute">support The Guardian by making a monthly or one-off payment</a>.</p>

                <p><a href="/">{{ site.title }}</a> — The latest 50 Guardian articles updated every hour. Last updated {{ "now" | date: "%d %b %Y at %H:%M" }} <a href="https://en.wikipedia.org/wiki/Coordinated_Universal_Time">UTC</a>.</a></p>

                <p>A site by <a href="https://www.thisdaysportion.com">Leon Paternoster</a>.</p>

            </footer>

        </div>

    </body>

</html>
