<!DOCTYPE html>

<html lang="{{ site.lang }}">

    <head>

        {% if page.is_home %}
        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.description }}">
        {% elsif page.webTitle %}
        <title>{{ page.webTitle }} – {{ site.title }}</title>
        {% else %}
        <title>{{ page.title }} – {{ site.title }}</title>
        {% endif %}

        {% if page.webUrl %}
        <link rel="canonical" href="{{ page.webUrl }}">
        {% endif %}

        {% if page.noindex %}
        <meta name="robots" content="noindex,nofollow">
        {% endif %}

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <meta name="color-scheme" content="light dark">

        <link href="/css/style.css" rel="stylesheet">

    </head>

    <body>

        <a class="skip-link hide" href="#content">Skip to content</a>

        <header>

            <nav aria-label="Navigation: choose from 3 editions">

                <ul>

                    <li><a href="/" {% if page.edition == "uk" %}aria-current="page"{% endif %}>🇬🇧 UK</a></li>
                    <li><a href="/au" {% if page.edition == "au" %}aria-current="page"{% endif %}>🇦🇺 Aus</a></li>
                    <li><a href="/us" {% if page.edition == "us" %}aria-current="page"{% endif %}>🇺🇸 US</a></li>

                </ul>

            </nav>

        </header>

        <main id="content">
