.ba {
	border-style: solid;
	border-width: 1px;
}
.bt {
	border-top-style: solid;
	border-top-width: 1px;
}
.br {
	border-right-style: solid;
	border-right-width: 1px;
}
.bb {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.bl {
	border-left-style: solid;
	border-left-width: 1px;
}
.bn {
	border-style: none;
	border-width: 0;
}

.b--dotted {
	border-style: dotted;
}
.b--dashed {
	border-style: dashed;
}
.b--solid {
	border-style: solid;
}
.b--none {
	border-style: none;
}
.b--inherit {
	border-color: inherit;
}
.border {
	border-color: var(--border);
}
.b--accent {
	border-color: var(--accent);
}
.b--accent-two {
	border-color: var(--accent-two);
}
.b--type {
	border-color: var(--type);
}
.b--dark-type {
	border-color: var(--dark-type);
}
.b--light-type {
	border-color: var(--light-type);
}
.b--off-paper {
	border-color: var(--off-paper);
}

.bw0 {
	border-width: 0;
}
.bw1 {
	border-width: .125rem;
}
.bw2 {
	border-width: .25rem;
}
.bw3 {
	border-width: .5rem;
}
.bw4 {
	border-width: 1rem;
}
.bw5 {
	border-width: 2rem;
}
.bt-0 {
	border-top-width: 0;
}
.br-0 {
	border-right-width: 0;
}
.bb-0 {
	border-bottom-width: 0;
}
.bl-0 {
	border-left-width: 0;
}

.br-100 {
	border-radius: 100%;
}

.content-box {
	box-sizing: content-box;
}