.flex {
	display: flex;
}
.inline-flex {
	display: inline-flex;
}
.flex-none {
	flex: none;
}
.flex-gap {
	gap: var(--spacer-5);
}
@media screen and (min-width: 54em) {
	.flex-none-ns {
		flex: none;
	}
	.flex-ns {
		display: flex;
	}
}
.flex-column {
	flex-direction: column;
}
.flex-row {
	flex-direction: row;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-nowrap {
	flex-wrap: nowrap;
}
.flex-wrap-reverse {
	flex-wrap: wrap-reverse;
}
.flex-column-reverse {
	flex-direction: column-reverse;
}
.flex-row-reverse {
	flex-direction: row-reverse;
}
.items-start {
	align-items: flex-start;
}
.items-end {
	align-items: flex-end;
}
.items-center {
	align-items: center;
}
.items-baseline {
	align-items: baseline;
}
.items-stretch {
	align-items: stretch;
}
.self-start {
	align-self: flex-start;
}
.self-end {
	align-self: flex-end;
}
.self-center {
	align-self: center;
}
.self-baseline {
	align-self: baseline;
}
.self-stretch {
	align-self: stretch;
}
.justify-start {
	justify-content: flex-start;
}
.justify-end {
	justify-content: flex-end;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.justify-around {
	justify-content: space-around;
}
.content-start {
	align-content: flex-start;
}
.content-end {
	align-content: flex-end;
}
.content-center {
	align-content: center;
}
.content-between { 
	align-content: space-between;
}
.content-around {
	align-content: space-around;
}
.content-stretch {
	align-content: stretch;
}
.column-gap {
	column-gap: var(--spacer-5);
}
.row-gap {
	row-gap: var(--spacer-5);
}
.gap {
	gap: var(--spacer-5);
}
.column-gap-s {
	column-gap: var(--spacer-3);
}
.row-gap-s {
	row-gap: var(--spacer-3);
}
.gap-s {
	gap: var(--spacer-3);
}
