.f1 {
	font-size: 1.802rem;
}
.f2 {
	font-size: 1.602rem;
}
.f3 {
	font-size: 1.424rem;
}
.f4 {
	font-size: 1.266rem;
}
.f5 {
	font-size: 1.125rem;
}
.f6 {
	font-size: 1rem;
}
.f7 {
	font-size: 0.889rem;
}