.normal {
	font-weight: normal;
}
.b {
	font-weight: bold;
}
.fw1 {
	font-weight: 100;
}
.fw2 {
	font-weight: 200;
}
.fw3 {
	font-weight: 300;
}
.fw4 {
	font-weight: 400;
}
.fw5 {
	font-weight: 500;
}
.fw6 {
	font-weight: 600;
}
.fw7 {
	font-weight: 700;
}
.fw8 {
	font-weight: 800;
}
.fw9 {
	font-weight: 900;
}
.i {
	font-style: italic;
}
.fs-normal {
	font-style: normal;
}
.small-caps {
	font-variant: small-caps;
}
.ttl {
	text-transform: lowercase;
}
.ttu {
	text-transform: uppercase;
}
.tracked {
	letter-spacing: 1px;
}
.lh-copy {
	line-height: var(--lh-copy);
}
.lh-title {
	line-height: var(--lh-title);
}
.no-underline {
	text-decoration-line: none; 
}
.underline {
	text-decoration-line: underline;
	text-decoration-thickness: var(--text-decoration-thickness);
	text-decoration-color: inherit;
}
.t-start {
	text-align: start;
}
.t-end {
	text-align: end;
}
.tl {
	text-align: left;
}
.tr {
	text-align: right;
}
.tc {
	text-align: center;
}
.t-justify {
	text-align: justify;
}
.t-justify-all {
	text-align: justify-all;
}
.t-match-parent {
	text-align: match-parent;
}
@media screen and (min-width: 54em) {
	.t-start {
		text-align: start;
	}
	.t-end-ns {
		text-align: end;
	}
	.tl-ns {
		text-align: left;
	}
	.tr-ns {
		text-align: right;
	}
	.tc-ns {
		text-align: center;
	}
	.t-justify-ns {
		text-align: justify;
	}
	.t-justify-all-ns {
		text-align: justify-all;
	}
	.t-match-parent-ns {
		text-align: match-parent;
	}
}
.hyphens-auto {
	-webkit-hyphens: auto;
	hyphens: auto;
}
.hyphens-manual {
	-webkit-hyphens: manual;
	hyphens: manual;
}
.hyphens-none {
	-webkit-hyphens: none;
	hyphens: none;
}
