:root {
	--base-space: 1.375rem;
	--spacer-1: calc(var(--base-space) / 8);
	--spacer-2: calc(var(--base-space) / 4);
	--spacer-3: calc(var(--base-space) / 2);
	--spacer-35: calc(var(--base-space) / 1.5);
	--spacer-4: var(--base-space);
	--spacer-5: calc(var(--base-space) * 1.25);
	--spacer-6: calc(var(--base-space) * 1.5);
	--spacer-7: calc(var(--base-space) * 2.25);
	--spacer-8: calc(var(--base-space) * 3);
	--spacer-9: calc(var(--base-space) * 4);
	--spacer-10: calc(var(--base-space) * 5);
	--spacer-11: calc(var(--base-space) * 6);
	--body-ph: 8.5vw;
	--body-pv: 1.25vh;
	--body-ph-x2: calc(var(--body-ph) * 2);
	--expand: calc(100% + var(--body-ph-x2));
	--pull: calc(var(--body-ph) - var(--body-ph-x2));

	--f1: 1.802rem;
	--f2: 1.602rem;
	--f3: 1.424rem;
	--f4: 1.266rem;
	--f5: 1.125rem;
	--f6: 1rem;
	--f7: 0.889rem;

	--sans-serif: "Avenir Next", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "segoe ui", "helvetica neue", helvetica, ubuntu, roboto, noto, sans-serif;
	--serif: "STIX Two Text", ui-serif, georgia, serif;
	--monospace: ui-monospace, SFMono-Regular, "IBM Plex Mono", "Fira Code", "Fira Mono", Menlo, Consolas, monospace;

	--text-decoration-thickness: 2px;

	--min-font-size: 118.75%;
	--max-font-size: 137.5%;
	--font-size: 1.6vw;
	--lh-copy: 1.375;
	--lh-title: 1.15;

	--measure: 28rem;
	--measure-narrow: calc(var(--measure) * 0.8);
	--measure-wide: calc(var(--measure) * 1.2);
	--wrapper: 28rem;

	--accent: #3633f9;
	--accent-two: #f4b60b;
	--type: #333;
	--terminal: #000;
	--code: #cbfa05;
	--dark-type: #000;
	--light-type: #777;
	--paper: #fff;
	--off-paper: #efefef;
	--border: #ddd;
}

@media screen and (min-width: 40em) {
:root {
	--base-space: 1.5rem;
	--lh-copy: 1.5;
}
}

@media screen and (prefers-color-scheme: dark) {
:root {
	--type: #ddd;
	--dark-type: #fff;
	--light-type: #bbb;
	--paper: #222;
	--off-paper: #111;
	--border: #666;
	--accent: #f7ff99;
	--accent-two: #99ffd4;
}
}