{% include header.html %}

<a href="/" class="f7 lh-title db b dark-type pv3">{{ site.title }}</a>

<article>

    <div class="mb4">

        <h1>{{ page.webTitle }}</h1>

        <div class="f7 light-type lh-title mb0 mt2">

            <p class="ma0">{{ page.fields.byline }}, <time datetime="{{ page.webPublicationDate | date: "%Y-%m-%d %H:%M" }}">{{ page.webPublicationDate | date: "%d %b %H:%M" }}</time>, <a href="{{ page.webUrl }}">Guardian link</a></p>

        </div>

        <img aria-hidden="true" class="db center mh0 mv3 pa0" src="{{ page.fields.thumbnail }}">

        <p class="mb0 f5 lh-title">{{ page.fields.trailText }}.</p>

    </div>

    <div class="hyphens">

        {{ page.fields.body }}

    </div>

</article>

{% include footer.html %}
