{% include header.html %}

<a href="/" class="f7 lh-title db b dark-type pv3">{{ site.title }}</a>

<article>

    <div class="mb3 pb3 bb border">

        <p class="f7 light-type lh-title ma0">{{ page.fields.byline }}, <time datetime="{{ page.webPublicationDate | date: "%Y-%m-%d %H:%M" }}">{{ page.webPublicationDate | date: "%d %b %H:%M" }}</time></p>

        <h1>{{ page.webTitle }}</h1>

        <div class="flex items-start no-underline underline-hover type no-flow">

            <div class="w-half pr2">

                <img aria-hidden="true" class="db ma0 pa0" src="{{ page.fields.thumbnail }}">

            </div>

            <p class="w-half pl2 ma0 f7 lh-title light-type">{{ page.fields.trailText }}.</p>

        </div>

    </div>

    {{ page.fields.body }}

    <p class="b mt4"><a href="{{ page.webUrl }}">Permalink</a></p>

</article>

{% include footer.html %}
