{% include header.html %}

<a href="/" class="f7 lh-title db b dark-type pv3">{{ site.title }}</a>

<article>

    <div class="mb4">

        <p class="f7 light-type lh-title ma0">{{ page.fields.byline }}, <time datetime="{{ page.webPublicationDate | date: "%Y-%m-%d %H:%M" }}">{{ page.webPublicationDate | date: "%d %b %H:%M" }}</time></p>

        <h1>{{ page.webTitle }}</h1>

        <img aria-hidden="true" class="db center mh0 mv3 pa0" src="{{ page.fields.thumbnail }}">

        <p class="mb0 f5 lh-title b">{{ page.fields.trailText }}.</p>

    </div>

    <div class="hyphens">

        {{ page.fields.body }}

    </div>

    <p class="b mt4"><a href="{{ page.webUrl }}">Permalink</a></p>

</article>

{% include footer.html %}
